{{- /*
Overview
========
Simplified data model. Events need: headline, description (optional), link (optional).

There are three types of boxes that appear in the weeks grid:
- Birthday boxes: Label and tooltip generated automatically based on start date in index.md
- Event boxes: Label and tooltip come from events.yml (headline + description)
- Empty week boxes: Tooltip shows just the date.

This template renders a button (or link) through the helpers/box.html partial.

This template uses $.Store to keep updated variable values in scope outside of ranges and other loops.

There are three main loops in this page, each nested inside the other: Years, Weeks, Days.
*/ -}}

{{ $data := .Site.Data.events }}

{{ $startDate := .Params.start_date }}
{{ $splitStart := split $startDate "-" }}
{{ $startYear := index $splitStart 0 }}
{{ $startMonth := index $splitStart 1 }}
{{ $startDay := index $splitStart 2 }}
{{ $endYear := .Params.end_year }}
{{ $.Store.Set "specificDate" $startDate }}
{{ $.Store.Set "buttonLink" "" }}

{{- /* Row control vars, be sure to test adjustments mobile-first */ -}}
{{ $.Store.Set "totalBoxesInRow" 0 }} {{- /* Increments with each week */ -}}
{{ $.Store.Set "maxBoxesInRow" 21 }} {{- /* Keep it justified, right edge even */ -}}
{{ $.Store.Set "boxEndMultiplier" .45 }} {{- /* Larger, adjust up or down for snugness */ -}}
{{ $.Store.Set "boxCharMultiplier" .319 }} {{- /* Smaller, adjust up or down for snugness */ -}}

<div class="row mt-3">
    <div id="decade-0">
        <h2 class="decade-header">My First Ten Years</h2>
        <div class="col-12 d-flex justify-content-between">
    {{- /* Start years loop  */ -}}
    {{- range $year := seq $startYear $endYear -}}
        {{ $yearString := printf "%d" $year }}
        {{ $thisYear := printf "%s-%s-%s" $yearString $startMonth $startDay }}
        {{ $thisYearTime := time.AsTime $thisYear }}
        {{ $startYearInt := int $startYear }}
        {{ $nextYearString := printf "%d" (add $year 1) }}
        {{ $nextYear := printf "%s-%s-%s" $nextYearString $startMonth $startDay }}
        {{ $age := sub $year $startYearInt }}

        {{- /* Start new div for decade navigation  */ -}}
        {{ if ne $age 0 }}
            {{ $decadeDiff := mod $age 10 }}
            {{ if eq $decadeDiff 0 }}
        </div>
    </div>
    <div id="decade-{{ $age }}">
        <h2 class="decade-header">{{ if eq $age 10 }}My Teens{{ else if eq $age 20 }}My 20s{{ else if eq $age 30 }}My 30s{{ else if eq $age 40 }}My 40s{{ else if eq $age 50 }}My 50s{{ else if eq $age 60 }}My 60s{{ else if eq $age 70 }}Endgame{{ else }}My {{ $age }}s{{ end }}</h2>
        <div class="col-12 d-flex justify-content-between">
                {{ $.Store.Set "totalBoxesInRow" 0 }}
            {{ end }}
            {{- /* Check if we need to break to the next row before the birthday */ -}}
            {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
                {{ partial "helpers/new-row.html" . }}
                {{ $.Store.Set "totalBoxesInRow" 0 }}
            {{ end }}

            {{- /* Set stored vars for birthday button */ -}}
            {{ $.Store.Set "buttonClass" "btn birthday text-nowrap" }}
            {{ $.Store.Set "buttonDataDate" $thisYear }}
            {{ $.Store.Set "buttonDataBSTitle" (printf "%s – Turned %d year%s old" (dateFormat "Jan 2, 2006" $thisYear) $age (cond (ne $age 1) "s" "")) }}
            {{ $buttonLabel := (printf "🎂 %d in %d" $age $year) }}
            {{ $.Store.Set "buttonLabel" $buttonLabel }}
            {{ $.Store.Set "buttonLink" "" }}

            {{- /* Break if the button label will make the row too long */ -}}
            {{ $newRowBoxes := float (partial "helpers/calculate-row-boxes.html" (dict "Store" $.Store)) }}
            {{ if ge $newRowBoxes ($.Store.Get "maxBoxesInRow") }}
                {{ partial "helpers/new-row.html" . }}
                {{ $.Store.Set "totalBoxesInRow" 0 }}
            {{ end }}

            {{- /* Render birthday button */ -}}
            {{ partial "helpers/box.html" (dict "Store" $.Store) }}

            {{- /* Set next birthday */ -}}
            {{ $nextYearString := printf "%d" (add $year 1) }}
            {{ $nextYear := printf "%s-%s-%s" $nextYearString $startMonth $startDay }}

            {{ partial "helpers/increase-row-boxes.html" (dict "Store" $.Store) }}
            {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
                {{ partial "helpers/new-row.html" . }}
                {{ $.Store.Set "totalBoxesInRow" 0 }}
            {{ end }}
        {{ end }}

        {{- /* Start weeks loop  */ -}}
        {{- range $week := seq 0 52 -}}
            {{ $.Store.Set "week" $week }}
            {{ $thisWeekDate := $thisYearTime.AddDate 0 0 (mul $week 7 | int) | time.Format "2006-01-02" }}
            {{ $endYearDate := $thisWeekDate | time.AsTime | time.Format "2006-01-02" }}
            {{ if ne $week 0 }}

                {{- /* Set stored vars for an empty week button */ -}}
                {{ $.Store.Set "buttonClass" "btn week w-100" }}
                {{ $.Store.Set "buttonDataDate" $thisWeekDate }}
                {{ $.Store.Set "buttonDataBSTitle" (dateFormat "Jan 2, 2006" $thisWeekDate) }}
                {{ $.Store.Set "buttonLabel" "" }}
                {{ $.Store.Set "buttonLink" "" }}
                {{- /* Render empty week button */ -}}
                {{ partial "helpers/box.html" (dict "Store" $.Store) }}

                {{ $.Store.Set "totalBoxesInRow" ( add ($.Store.Get "totalBoxesInRow") 1 ) }}
                {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
                    {{ partial "helpers/new-row.html" . }}
                    {{ $.Store.Set "totalBoxesInRow" 0 }}
                {{ end }}
            {{ end }}

            {{- /* Start days loop  */ -}}
            {{- range $day := seq 0 6 -}}
                {{ $daysAhead := add (mul $week 7 | int)  ($day | int) | int }}
                {{ $specDateAsTime := ($thisYearTime.AddDate 0 0 $daysAhead  | time.Format "2006-01-02") }}
                {{ $specDate := printf "%s" $specDateAsTime }}
                {{ $.Store.Set "specificDate" $specDate }}
                {{ if lt ( $specDateAsTime | time.AsTime ) ($nextYear | time.AsTime) }}
                    {{ with index $data $specDate }}
                        {{ range . }}
                            {{- /* Check if we need to break to the next row before the event */ -}}
                            {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
                                {{ partial "helpers/new-row.html" . }}
                                {{ $.Store.Set "totalBoxesInRow" 0 }}
                            {{ end }}

                            {{- /* Set stored vars for an event button */ -}}
                            {{ $.Store.Set "buttonClass" "btn week has-event text-nowrap text-left" }}
                            {{ $.Store.Set "buttonDataDate" $specDate }}
                            {{ if ne .description nil }}
                                {{ $.Store.Set "buttonDataBSTitle" (printf "%s – %s" (dateFormat "Jan 2, 2006" $specDate ) .description ) }}
                            {{ else }}
                                {{ $.Store.Set "buttonDataBSTitle" (printf "%s – %s" (dateFormat "Jan 2, 2006" $specDate) .headline) }}
                            {{ end }}
                            {{ $.Store.Set "buttonLabel" .headline }}
                            {{ $.Store.Set "buttonLink" .link }}

                            {{- /* Break if the button label will make the row too long */ -}}
                            {{ $newRowBoxes := float (partial "helpers/calculate-row-boxes.html" (dict "Store" $.Store)) }}
                            {{ if ge $newRowBoxes ($.Store.Get "maxBoxesInRow") }}
                                {{ partial "helpers/new-row.html" . }}
                                {{ $.Store.Set "totalBoxesInRow" 0 }}
                            {{ end }}

                            {{- /* Render event button */ -}}
                            {{ partial "helpers/box.html" (dict "Store" $.Store) }}

                            {{ partial "helpers/increase-row-boxes.html" (dict "Store" $.Store) }}
                            {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
                                {{ partial "helpers/new-row.html" . }}
                                {{ $.Store.Set "totalBoxesInRow" 0 }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    {{- /* Auto-generate New Year event if Jan 1 and no existing event */ -}}
                    {{ $specMonth := index (split $specDate "-") 1 }}
                    {{ $specDay := index (split $specDate "-") 2 }}
                    {{ if and (eq $specMonth "01") (eq $specDay "01") }}
                        {{ if not (index $data $specDate) }}
                            {{ $nyYear := index (split $specDate "-") 0 }}

                            {{- /* Check if we need to break to the next row */ -}}
                            {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
                                {{ partial "helpers/new-row.html" . }}
                                {{ $.Store.Set "totalBoxesInRow" 0 }}
                            {{ end }}

                            {{ $.Store.Set "buttonClass" "btn week has-event text-nowrap text-left" }}
                            {{ $.Store.Set "buttonDataDate" $specDate }}
                            {{ $.Store.Set "buttonDataBSTitle" (printf "Jan 1, %s – Happy New Year!" $nyYear) }}
                            {{ $.Store.Set "buttonLabel" (printf "🎆 Happy New Year %s" $nyYear) }}
                            {{ $.Store.Set "buttonLink" "" }}

                            {{- /* Break if the button label will make the row too long */ -}}
                            {{ $newRowBoxes := float (partial "helpers/calculate-row-boxes.html" (dict "Store" $.Store)) }}
                            {{ if ge $newRowBoxes ($.Store.Get "maxBoxesInRow") }}
                                {{ partial "helpers/new-row.html" . }}
                                {{ $.Store.Set "totalBoxesInRow" 0 }}
                            {{ end }}

                            {{- /* Render New Year button */ -}}
                            {{ partial "helpers/box.html" (dict "Store" $.Store) }}

                            {{ partial "helpers/increase-row-boxes.html" (dict "Store" $.Store) }}
                            {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
                                {{ partial "helpers/new-row.html" . }}
                                {{ $.Store.Set "totalBoxesInRow" 0 }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if ge ($.Store.Get "totalBoxesInRow") ($.Store.Get "maxBoxesInRow") }}
            {{ partial "helpers/new-row.html" . }}
            {{ $.Store.Set "totalBoxesInRow" 0 }}
        {{ end }}
    {{- end -}}
    </div>
</div>
